@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}
.banner-home-mobile {
  background-image: url("/banner-home-mobile.webp");
  background-size: cover;
}
.banner-about-mobile {
  background-image: url("/banner-about-mobile.webp");
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
